<!DOCTYPE html>

<html>
    <head>
        <title>OKPlate!</title>
		<meta name="author" content="OKPlate">
		<meta name="description" content="Plate Validation">
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="OKPlate.css">
		<link rel="stylesheet" type="text/css" href="OKPlateMob1.css">
		<link rel="stylesheet" type="text/css" href="OKPlateMob.css">
	</head>
    <body>	
		<div id="wrapper">	
			<div class="row">
				<div class="col-md-2">
					<br>
					<a href="OKPlateHome.html">
						<img src="validPlate.jpg" alt="OKPlate Logo" width="220" height="110" class="w3-padding-12">
					</a>
				</div>
				<div class="col-md-10">
					<header>
						<span class="OKPlate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OKPlate!</span> <span class="OKPlateSlogan">&nbsp;online plate validation .....</span>
					</header>
				</div>
		 <nav>
		 <br>
		 <div class="container">
		  	 <div class="row">
				 <div class="col-md-2">
					 <div class="dropdown">
						 <button class="dropbtn">&nbsp;Validation</button>
						 <div class="dropdown-content">
							 <a href="OKPlateCaptureValidate.html">Capture & Validate Plate (Subscriber)</a>
							 <a href="OKPlateUploadValidate.html">Upload & Validate Plate (Subscriber)</a>
							 <a href="OKPlateValidate.html">Validate Plate (Public)</a>							 
						 </div>
					 </div>
				 </div>				 
				 <div class="col-md-2">
					 <div class="dropdown">
						 <button class="dropbtn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Links&nbsp;&nbsp;&nbsp;&nbsp;</button>
						 <div class="dropdown-content">
							 <a href="OKPlateLinks.html">VicRoads - Vehicle Check</a>
							 <a href="OKPlateLinks.html#">PPSR - Personal Property Securities Register</a>
						 </div>
					 </div>
				 </div>	
				 <div class="col-md-2">
					 <div class="dropdown">
					 	 <button class="dropbtn">&nbsp;&nbsp;About&nbsp;Us&nbsp;</button>
						 <div class="dropdown-content">
						 	 <a href="OKPlateAboutUs.html">About Us</a>
							 <a href="OKPlateAboutUs.html">Subscriber vs Public</a>
							 <a href="OKPlateAboutUs.html">OKPlate! Results</a>
							 <a href="OKPlateAboutUs.html">Terms and Conditions</a>
						 </div>
					 </div>
				 </div>	
				 <div class="col-md-2">
					 <div class="dropdown">
					 	 <button class="dropbtn">&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</button>
						 <div class="dropdown-content">
						 	 <a href="OKPlateLogin.html">Login</a>
							 <a href="OKPlateLogin.html">Logoff</a>
						 </div>
					 </div>
				 </div>					 
				 <div class="col-md-2">
				 </div>
			 </div>
		 </div>
	  	 <br>
         </nav>
         <main>
			<div class="container">
				<div class="w3-container">
				<hr>
				<div class="w3-cell-row">
				  <div class="w3-cell w3-container">
					<h2>OKPlate! Subscriber login&nbsp;&nbsp;
						<% if (message.length > 0) { %>
						<span style="color:red"><i><%= message %></i></span>
						<% } %>
					</h2>
					<br>
					<form action='/login' method='post'>               
					<div class='form-group'>
						<label for='username'>Login Id:</label>
						<input type='text' class='form-control' name='username'>
					</div>
					<div class='form-group'>
						<label for='password'>Password:</label>
						<input type='text' class='form-control' name='password'>
					</div>
					<button type='submit' class='btn btn-default' name='submit'>Submit</button>
					</form>
					<br>
					<br>
					<p>Not a subscriber? contact OKPlate!<a href="http://www.deakin.edu.au/~rmcgann/SIT737/OKPlateAboutUs.html"><u>here</u><a></p>
				  </div>
				</div>  
				<hr>
				</div>
			</div>
	 	 </main>
		 <footer>
			<br>
			<h4><b>&nbsp;&nbsp;Copyright &copy; 2018 OKPlate!</b></h4>
			<br>
		 </footer>
		 </div>
	  </div>
	</body>
</html>